.home-section {
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.home-header {
    padding: 2rem 0;
    max-width: 60%;
}

.home-header-title {
    display: block;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.select-btn {
    width: 170px;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    background: #D0BCFF;
    color: #381E72;
}

@media screen and (min-width: 600px) {
    .home-header {
        padding: 4rem 0;
        max-width: 70%;
    }
}