.home-section {
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-header {
    padding: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
}

.container.home-header {
    margin: 0;
}

.container.home-main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.home-header-title {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    margin: 1rem 1rem 1rem 0;
}

.select-btn {
    width: 170px;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    background: #D0BCFF;
    color: #381E72;
    margin: 1rem 0 2rem 0;
}

.select-btn.load-more-btn {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .home-header {
        padding: 4rem 0;
        max-width: 70%;
    }

    .home-header-text {
        display: block;
        max-width: 60%;
    }
}