.header {
    background: #000000;
    color: #c7cbd0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.burger {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.burger span:nth-child(1) {
    transform: translateY(-10px);
}

.burger span:nth-child(3) {
    transform: translateY(10px);
}

.burger.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: #000000;
    padding: 30px 0;
    transition: transform .5s;
}

.menu.open {
    transform: translateX(100%);
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-list-item {
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .burger {
        display: none;
    }

    .menu {
        left: 0;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
    }

    .menu-list-item {
        margin-bottom: 0;
        margin-right: 10px;
    }
}