@import "styles/normalize.css";
@import "styles/navigation.css";
@import "styles/homeView.css";
@import "styles/roverSelectView.css";
@import "styles/footer.css";

* {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background: #141218;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

p {
    font-size: 18px;
    margin: 0;
    color: #FFFFFF;
}

h1, h2, h3 {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background: #F5EFF7;
    border: 1px solid #CAC4D0;
    border-radius: 8px;
}

.form > * {
    margin: 8px;
}

select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:not([multiple]) {

    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 0.85em auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

.form-select {
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.select-option {
    padding: 20px;
    border: 1px solid black;
}

.form-input {
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

}

.form-btn {
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.images-list {
    list-style: none;
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.image-item {
    width: 30%;
    cursor: pointer;
    overflow: hidden;
}

.item-img {
    width: 100%;
    object-fit: cover;
    transition: scale 1s linear;
}

.item-img:hover {
    scale: 1.1;
}

/*IMG_POPUP*/
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.55);
    height: 100%;
    width: 100%;
}

.img-close-btn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #ffff;
    cursor: pointer;
}

.popup-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    border: 5px solid #ffff;
}

@media screen and (min-width: 600px) {
    .images-list {
        list-style: none;
        max-width: 700px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .image-item {
        width: 32%;
    }
}