.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
}

.form > * {
    margin: 8px;
}

.form-select {
    padding: 10px;
}

.select-option {
    padding: 20px;
    border: 1px solid black;
}

.form-input {
    padding: 10px;
}

.form-btn {
    cursor: pointer;
    padding: 10px;
}